* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #222;
  overflow: hidden;
}

#container {
  position: relative;
  left: -10vw;
  height: 100vh;
  width: 110vw;
}

.active {
  position: absolute;
  -webkit-animation: rain 5s ease infinite;
          animation: rain 5s ease infinite;
}

@-webkit-keyframes rain {
  50% {
    -webkit-filter: hue-rotate(720deg);
            filter: hue-rotate(720deg);
  }
  100% {
    top: -100%;
  }
}

@keyframes rain {
  50% {
    -webkit-filter: hue-rotate(720deg);
            filter: hue-rotate(720deg);
  }
  100% {
    top: -100%;
  }
}
